<div class="div1">
    <!-- <img src="..//../assets/pexels-r-fera-432059.jpg" width="100%" height="100%" alt=""> -->
    <h1 style="text-align: center; padding-top: 18rem; font-weight: bolder; color: white;">Mens Fashion  </h1>
<h2 style="text-align: center; padding-top: 2rem; font-weight: bold; color:   white;">
  Best Styles At The Best Prices
</h2>
<a href="#" class="btn btn-primary">Buy Now</a>
</div>
<!-- -------- -->
<div class="div2">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-pixabay-325876.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Coats</h5>
                  <p class="card-text">Popular Men’s Coat Suit Colors. Black Coat Suit - Black Coat Suits are an all-time favorite among men.</p>
                  <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-rodnae-productions-5698850.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Casuals</h5>
                  <p class="card-text">If you must wear sneakers, make sure they are sleek, clean and offer a bit of interest. Men’s Casual Wear Outfit Ideas </p>
                  <a href="https://buy.stripe.com/test_3csfZrcY73rf3lefYZ" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-terje-sollie-298863.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Combo</h5>
                  <p class="card-text">Style a pair of neutral colored chinos that are not too baggy nor too tight with a layer-friendly shirt.</p>
                  <a href="https://buy.stripe.com/test_4gw3cF0bl4vj3le28a" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"style="padding: 10px;" src="..//../assets/pexels-pixabay-277319.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">watches</h5>
                  <p class="card-text">Mens' watches are classic accessories that are functional and fashionable at the same time.  </p>
                  <a href="https://buy.stripe.com/test_3cs6oRf6f1j71d65kn" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>