<h2>Hello ! We are here to help you , 24*7 customer service !</h2>
<div class="container" id="d1">
<div class="row" id="row1">
    <div class="col-md" id="div1">
        <div class="row">
            <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                <div class="col-md">
                    <img src="..//../assets/amazonpackage.jpg" height="60px" width="70px" alt="">
                </div>
                <div class="col-md">
                    <p id="p1">Your order</p>
                   <p>Track Packages </p>
                </div>
            </button>
          </div>
    </div>
    <div class="col-md" id="div2">
        <div class="row">
            <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                <div class="col-md">
                    <img src="..//../assets/amazonreturn.jpg" height="60px" width="70px" alt="">
                </div>
                <div class="col-md">
                    <p id="p1">Return and Refunds</p>
                   <p>Exchange order</p>
                </div>
            </button>
          </div>
    </div>
    <div class="col-md" id="div2">
        <div class="row">
            <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                <div class="col-md">
                    <img src="..//../assets/house.jpg" height="60px" width="70px" alt="">
                </div>
                <div class="col-md">
                    <p id="p1">Manage Address</p>
                   <p>Update your Address</p>
                </div>
            </button>

          </div>
    </div>
    <div class="col-md" id="div4">
        <div class="row">
            <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                <div class="col-md">
                    <img src="..//../assets/payment.jpg" height="35px" width="70px" alt="">
                </div>
                <div class="col-md">
                    <p id="p1">Payment Setting</p>
                   <p> Edit Payment<br> methods</p>
                </div>
            </button>

          </div>
    </div>
  </div>
</div>


<div class="container" id="d1">
    <div class="row" id="row1">
        <div class="col-md" id="div1">
            <div class="row">
                <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                    <div class="col-md">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.0DIWeVr7DA8m7GqLJWYShAHaHv&pid=Api&P=0&w=157&h=164" height="60px" width="70px" alt="">
                    </div>
                    <div class="col-md">
                        <p id="p1">Account Setting</p>
                       <p>change your Email  and<br>Password </p>
                    </div>
                </button>
              </div>
        </div>
        <div class="col-md" id="div2">
            <div class="row">
                <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                    <div class="col-md">
                        <img src="https://clipartart.com/images/call-us-icon-clipart-6.jpg" height="60px" width="70px" alt="">
                    </div>
                    <div class="col-md">
                        <p id="p1">Contact </p>
                       <p>Help line number <br> +91 7464839244</p>
                    </div>
                </button>
              </div>
        </div>
        <div class="col-md" id="div2">
            <div class="row">
                <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                    <div class="col-md">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.p6u24C8A5sAxTPZ6t2vipwHaJI&pid=Api&P=0&w=129&h=159" height="85px" width="70px" alt="">
                    </div>
                    <div class="col-md">
                        <p id="p1">Manage Address</p>
                       <p>Update your Address</p>
                    </div>
                </button>
    
              </div>
        </div>
        <div class="col-md" id="div4">
            <div class="row">
                <button type="button" style="width: 200px;" class="btn btn-outline-dark">
                    <div class="col-md">
                        <img src="..//../assets/payment.jpg" height="80px" width="70px" alt="">
                    </div>
                    <div class="col-md">
                        <p id="p1">Payment Options</p>
                       <p>Payment Methods</p>
                    </div>
                </button>
    
              </div>
        </div>
      </div>
    </div>