
    <div class="d1">
        <p class="p1"> Deal of the Day</p>
    </div>

<div class="container-fluid" id="d2">
    <div class="container">

        <div class="row">
          <div class="col">
            <div class="card">
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/product_03.jpg" height="170px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Blankets</h5>
                <p class="card-text"> Ensuring complete comfort. Blankets, Quilts Dohars are used to keep people warm when the temperature drops.</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>


           <!-- <img src="..//../assets/jeans-g027e5c99c_1920.jpg" width="100%" height="90%" alt=""> -->
          </div>
          <div class="col-5" >

            <div class="card" style="background-color: antiquewhite;">
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-mart-production-7679454.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Jeans</h5>
                <p class="card-text">Popular Men’s jeans.Jeans - Jeans are an all-time favorite among men.</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>


            <!-- <img src="..//../assets/pexels-mart-production-7679454.jpg" width="100%" height="100%" alt=""> -->
          </div>
          <div class="col">
            <div class="card" >
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/sweatshirts-ga7614b7b5_1920.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Hoodies</h5>
                <p class="card-text">Find Hoodies. Now in seconds! Search for Results. Find Hoodies and the Latest trends Here!</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>


            <!-- <img src="..//../assets/sweatshirts-ga7614b7b5_1920.jpg" width="100%" height="100%" alt=""> -->
          </div>
        </div>
        <div class="row">
          <div class="col">


            <div class="card" >
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/product_01.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Shoe</h5>
                <p class="card-text">Shoes Online- Shop shoes online for Men, Women & Kids at 70% Discount .</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>
            <!-- <img src="..//../assets/product_01.jpg"  width="100%" height="100%" alt=""> -->
          </div>
          <div class="col-5">

            <div class="card" style="background-color: antiquewhite;" >
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/product_02.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Coats</h5>
                <p class="card-text">Popular Women’s Coat Suit Colors. Black Coat Suit - Black Coat Suits are an all-time favorite among Women.</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>
            <!-- <img src="..//../assets/product_02.jpg" width="100%" height="100%" alt=""> -->
          </div>
          <div class="col">

            <div class="card">
              <img class="card-img-top" style="padding: 10px;" src="..//../assets/product_05.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">sweater </h5>
                <p class="card-text">Pair a striped sweater with joggers and boots for a casual appeal.</p>
                <a href="https://buy.stripe.com/test_5kA8wZ0bl0f3092000" class="btn btn-primary">book now</a>
              </div>
            </div>
           <!-- <img src="..//../assets/product_05.jpg" width="100%" height="100%" alt=""> -->
          </div>
        </div>
      </div>

</div>


