
<div class="bgimg">
    <!-- <img src="..//../assets/shoping1.jpg" width="100%" height="720px" alt=""> -->
<h1 style="text-align: center; padding-top: 15rem; font-weight: bolder;">Shop Your Weekend  </h1>
<h2 style="text-align: center; padding-top: 2rem; font-weight: bold;">
  Grab The Best Deals This Weekend!
</h2>
<a href="shop" class="btn btn-primary">View</a>

</div>
<div class="d1" style="padding-top: 5rem;">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..//../assets/pexels-tim-douglas-6567356.jpg" height="300px" style="padding: 20px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">60% OFF</h5>
                    <p class="card-text">UPTO 60% OFF* on 10000+ Styles.In search of the trendiest range of clothes? Check our Sites</p>
                </div>
            </div>
          </div>
          <div class="col-sm">
            <img src="..//../assets/pexels-karolina-grabowska-5625130.jpg" width="100%" height="500px" alt="">
          </div>
          <div class="col-sm">
            <div class="d2">
                <p id="p1">48hr Weekend Special offer,</p>
                <p>Grap The Best Deals This Weekend!!</p>
              </div>
          </div>
        </div>
   </div>
   <hr>
   <app-shop></app-shop>
   <hr>
   <app-men></app-men>
   <app-women></app-women>
   <app-contact></app-contact>
</div>
    
    
      
      
     