
<div class="div1">
    <!-- <img src="..//../assets/pexels-juan-mendez-1536619.jpg" width="100%" height="100%" alt=""> -->
    <h1 style="text-align: center; padding-top: 10rem; font-weight: bolder; color: rgb(70, 70, 70);">Mens Fashion  </h1>
    <h2 style="text-align: center; padding-top: 1rem; font-weight: bold; color:   rgb(145, 145, 145);">
      Best Styles At The Best Prices
    </h2>
    <a href="#" class="btn btn-primary">Buy Now</a>

</div>
<!-- -------- -->
<div class="div2">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-mart-production-7679454.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Jeans</h5>
                  <p class="card-text">Jeans Women's Jeans From high-waisted jeans, ripped jeans to knee-slit styles, our selection of women’s jeans is second to none.</p>
                  <a href="https://buy.stripe.com/test_14kaF73nx5zn4pi004" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-mart-production-7679720.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Over Coats</h5>
                  <p class="card-text">Flaunt the latest fashion trends with ONLY's new collection of stylish long coats for women.</p>
                  <a href="https://buy.stripe.com/test_aEU3cFe2be5Tf3W9AF" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/pexels-ylanite-koppens-934063.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Casuals</h5>
                  <p class="card-text">This collection of tops for women comprises of some of the best brands in women’s fashion.</p>
                  <a href="https://buy.stripe.com/test_3csfZrcY73rf3lefYZ" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 10px;" src="..//../assets/blouse-g305eb31e8_1920.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tops</h5>
                  <p class="card-text">Side slit maxi tops and choker neck tops are perfect for women who love to experiment with their looks.   </p>
                  <a href="https://buy.stripe.com/test_9AQ3cF3nx8Lz8Fy006" class="btn btn-primary">book now</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>